.App-header {
  background-color: #282c34;
}

.App-link {
  color: white;
}

button a {
  color: aliceblue;
}

button a:hover {
  text-decoration: none;
  color: aliceblue
}

.postform {
    width: 100%;
    color: white;
    height:100vh;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
}

.postform form {
  margin: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
